@charset "UTF-8";

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
}

#store-info-top-content{
    width: 100%;
    margin-bottom: 20px;
}

/* 이미지 슬라이드, 매장 상세정보 CSS */

#img_slide{
    width: 50%;
}

.carousel-caption{
    color: black;
}

#store-main-content{
    margin-top: 5px;

}

#img-slide-list .store_img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.store-main-sub-content{
    display: inline-block;
}
#store-details{
    width: 45%;
    float: right;
}

.store-details-info{
    width: 100%;
    height: 300px;
    border: none;
}

.store-details-info .top-td {
	text-align: center;
	font-size: 18px;
	color: #ff1f67;
	text-shadow: 1px 1px 6px #ff1f67;
}

.store-details-info tr {
	border-bottom: 1px solid #e2e2e2;
}

.store-details-info td {
	border-bottom: 1px solid #e2e2e2;
	padding-left: 15px;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
}

.icons-row{
    min-height: 50px;
}

.store-details-info td{
    text-align: left;
}

.icons-row > .icons-span{
	padding: 0px;
    width: 60px;
    text-align: center;
    font-size: 25px;
    border-right: 1px solid #e2e2e2;
}

.icons-row > td{
	width:238px;
}


/* 매장 이름, 매장 평점 */
#store-score-line{
    border-bottom: 1px solid #ff1f67;
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
}

/*리뷰 게시 구역*/

.review {
	display : inline-block;
	width: 40%;
	height:100%;
	margin: 40px 58px 40px 58px;
}


.store-review-wraper{
	border-top: 1px solid #ff1f67;
	border-bottom: 1px solid #e2e2e2;
	margin-bottom: 50px;
}

.store-review-wraper .write_review {
	text-align: right;
}

.store-review-wraper #review-write-box {
	width: 100%;
	height: 80px;
	resize: none;
	border: 2px solid #000;
	border-radius: 5px;
}

.paging-wrap{
    width: 100%;
    height: 80px;
    text-align: center;
}

.pagination{
    display: inline-block;
    top: 10px;
    border: 1px solid #ff1f67;
    
}

.pagination > a {
    font-size: 16px;
    text-decoration: none;
    padding: 0 5px 0 5px;
    border-left: 1px solid #ff1f67;
    border-right: 1px solid #ff1f67;
}

.write_review{
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
}

.user_profile_img {
	padding: 0px;
	width : 30%;
}

.user_profile_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: 0;
    border: 1px solid #ff1f67;
    border-right: none;
}

.user_review{
	width:100%;
	height:30%;
	display:inline-block;
}
.review_container{
	width:80%;
	height:90%;
}

.review_writer_info{
	padding: 0px;
	height:100%;
	width:70%;
}

.review_writer_info > table > tbody > tr{
	height:48.1px;
}

.review_writer_info .first-review-table{
	margin-right: 10px;
}

.review_writer_info > table {
    border: 1px solid #ff1f67;
    width: 100%;
    height: 100%;
    border-left: none;
}

.review_writer_info td{
    font-size: 12px;
    padding-left: 15px;
}


#store-main-bottom-content{
    width: 100%;
}

#store-main-bottom-content > div{
    display: inline-block;
}

#store-game-list{
    width: 70%;
}

#store-game-list-head{
    background-color: greenyellow;
}

#store-game-list-head > ul > li{
    display: inline-block;
}

.game-list-breadcrumb{
    float: right;
}

#store-game-list-body{
    background-color: lavender;
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.game-list{
    display: inline-block;
    width: 30%;
    border: 1px solid #f5e312;
    padding: 20px;
    margin: 10px;
}

.game-list > img{
    object-fit: cover;
    width: 100%;
}

.game-list > table{
    text-align: center;
    width: 100%;
}

/* 게임 검색 리스트 CSS */

#store-game-search{
    width: 25%;
    height: 100%;
    float: right;
}

#store-game-search > div{
    display: inline-block;
}

#game-cate-select{
    font-size: 16px;
    width: 100%;
    background-color: #ccc;
    color: black;
    line-height: 50px;
    text-align: center;
}

#game-cate-select > ul > li{
    position: relative;
    float: left;
    width: 140px;
}

#game-cate-select > ul > li > ul div{
    overflow: scroll;
    overflow-x: hidden;
    min-height: 20px;
}

#game-cate-select > ul > li > ul{
    display: none;
    position: absolute;
    width: 140px;
    font-size: 14px;
    background-color: skyblue;
}

#game-cate-select > ul > li:hover > ul{
    display: block;
}

/* 게임 검색 - 게임 이름으로 검색 */

#game-search-ipt-keyword{
    font-size: 12px;
    text-align: center;
}


/* 예매 달력 */
#on-the-board-include{
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 10px 0 10px 0;
    background-color: #fff;
}

#store-reservation-set-section{
    width: 100%;
}

#store-reservation-set-section .btn-calendar-large{
    width: 50px;
    height: 39px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    border-bottom: 0!important;
    background-color: transparent!important;
}

#store-reservation-set-section .date-list{
    height: 39px;
    width: 980px;
    overflow: hidden;
    float: left;
}

#store-reservation-set-section .year{
    position: absolute;
    top: 0;
    font-size: .8667em;
    width: 70px;
    height: 20px;
    line-height: 18px;
    margin-top: -10px;
    border: 1px solid #d8d9db;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    font-weight: 300;
}

#store-reservation-set-section .wrap{
    height: 40px;
    border-top: 1px solid #555;
    border-left: 1px solid #d8d9db;
    border-right: 1px solid #d8d9db;
    position: relative;
}

#store-reservation-set-section > .wrap div{
    display: block;
}

#store-reservation-set-section .date-area{
    height: 39px;
    float: left;
}

#store-reservation-set-section .date-area button.on{
    background-color: #f7f8f9;
    border-bottom: 2px solid #503396;
}

#store-reservation-set-section .date-area button{
    width: 70px;
    height: 39px;
    font-size: .8667em;
    border: 0;
    background-color: transparent;
    float: left;
    border-bottom: 2px solid transparent;
    font-weight: 400;
}

#store-reservation-set-section .date-area button span{
    vertical-align: bottom;
    line-height: 1.1;
}

#store-reservation-set-section .date-area button em{
    position: relative;
    display: inline-block;
    line-height: 1.1;
    padding: 0 9px 0 0;
    vertical-align: middle;
}

#store-reservation-set-section .date-area button em:after{
    content: '';
    position: absolute;
    right: 3px;
    top: 6px;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #888;
}

.ir {
    text-indent: -9999px;
    position: fixed;
    top: -9999px;
    font-size: 1px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

#store-reservation-set-section .bg-line{
    margin-left: 8px;
    float: left;
    position: relative;
}

#store-reservation-set-section .btn-calendar-large{
    width: 50px;
    height: 39px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    border-bottom: 0!important;
    background-color: transparent!important;
}

.btn-calendar-large {
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-calendar-w20.png) no-repeat center;
}

.btn-pre{
    width: 30px;
    height: 39px;
    border: 0!important;
    background-color: transparent!important;
    float: left;
}
.btn-next{
    width: 30px;
    height: 39px;
    border: 0!important;
    background-color: transparent!important;
    float: left;
}

/* 예약 인원 수 선택 영역 */
.group_user_profile_img{
    object-fit: cover;
    height: 40px;
}

.group_user_info{
    padding: 0 5px 0 5px;
    margin: 5px 0 5px 0;
}

#choice_by_grouplist > div{
    max-height: 150px;
    overflow: scroll;
    overflow-x: hidden;
}

#grouplist li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

#grouplist li a {
	color: #ff1f67;
}

#matching_group_info li label{
	color: #ff1f67;
}

/* .select-by-no > button{
    position: absolute;
    top: 0;
    left: 0;
}

.select-by-group > button{
    position: absolute;
    top: 0;
    right: 0;
} */

/* 예약 인원 선택 */
.tab-content{
	display:inline-block;
    border: 1px solid #ddd;
    height: auto;
    width: 25%;
}

.tab-pane{
	min-height:150px;
	max-height:150px;
}

#choice_by_count table{
    height: 100%;
    width: 100%;
}

.reservation{
    height: 30px;
}

.reservation_btn{
    position: absolute;
    right: 0;
}

button.btn-red {
	background-color: #ff1f67;
	border: none;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 6.5px;
}

/* 시간 선택 버튼 */
button.time_btn {
	background-color: white;
}

/* 예약시간 선택 버튼 */ 
#time_table_wrap {
	float:right;
	width:75%;
	height:auto;
}

#time_table{
	min-height:152px;
	max-height:152px;
}

#time_table > li{
	display:inline-block;
	text-align:center;
	width:14.285%;
	height:100%;
}

#time_table > li input{
	background-color:#ff1f67;
	display:none;
	
}

#time_table > li > label{
	width:100%;
	height:100%;
	padding:27px 0px 27px 0px;
	margin: 0;
	border : 1px solid #ddd;
	background-color: #e2e2e2;
}

#time_table > li .btn_active ~ label{
	background-color: #ff1f67;
	color: #fff;
}

#time_table > li .btn_active ~ label:hover{
	background-color: #fff;
	color: #000000;
}

#time_table > li .btn_active_click ~ label{
	background-color: #fff;
	color: #000000;
}

#time_table > li .btn_active_click ~ label:hover{
	background-color: #ff1f67;
	color: #fff;
	
}

/* 모달 css */
.modal-body tr td{
	
}

.modal-body table{
	width:100%;
	text-align:left;
}

/* 보유 게임 리스트 */
#main {min-width:320px;margin:0;padding:0 10px;}
#main{width:100%;max-width:1200px;margin:40px auto 0;}

.gameList{position:relative;}
.gameList .listType{position:absolute;right:15px;top:101px;}
.gameList .sortSelect{position:relative;left:0;top:0;margin:15px 0 0;padding:0;}

.bbsList04{overflow:hidden;margin:30px -5px 20px;}
.bbsList04 li dl{padding:19px 10px 6px;}
.bbsList04 li dt{margin-bottom:10px;font-size:15px;}
.bbsList04 li dd li{font-size:12px;}

.bbsList04{overflow:hidden;margin:30px -5px 40px;}

.bbsList04 li .box{padding:19px 18px 8px;border:1px solid #d8d8d8;box-shadow:2px 2px 2px #f2f2f2;}
.bbsList04 li .box .thum{text-align:center;}
.bbsList04 li .box .thum img{width:119px;height:119px;}
.bbsList04 li .desc {border:1px solid #d8d8d8; padding:16px; border-top:0px;}
.bbsList04 li .title{margin:5px 0 13px;font-size:20px;line-height:24px;height:50px;overflow:hidden;}
.bbsList04 li table{width:100%;}
.bbsList04 li th{font-size:12px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li th img{margin-right:5px;line-height:0;vertical-align:middle;}
.bbsList04 li td{font-size:14px;line-height:26px;text-align:right;}

.bbsList04 li{float:left;width:20%;padding:0 5px;margin-bottom:10px;}
.bbsList04 li .thum {border:1px solid #d8d8d8;position:relative;text-align:center;}
.bbsList04 li .thum img{width:100%;}
.bbsList04 li .thum .over{position:absolute;left:0;top:0;width:100%;height:100%;background:url();}
.bbsList04 li .thum .over span{position:absolute;right:0;top:0;display:inline-block;padding:5px 10px 3px;font-size:16px;color:#fff;background:#d03333;}
.bbsList04 li dl{padding:18px; border:1px solid #d8d8d8; border-top:none;}
.bbsList04 li dt{margin:10px 0 13px; font-size:20px; line-height:24px; height:24px; overflow:hidden; text-align:left;}
.bbsList04 li dt a{color:#333;}
.bbsList04 li dd ul{overflow:hidden;}
.bbsList04 li dd li{display:block; width:100%;height:28px;padding:0;margin-bottom:0;font-size:14px;color:#666;white-space:nowrap;}
.bbsList04 li dd li:nth-child(2n+2){width:48%;}
.bbsList04 li dd li:nth-child(5){width:100%;text-transform:uppercase;white-space:normal;}
.bbsList04 li dd li img{margin-right:10px;vertical-align:middle;}

.bbsList04 li dd table{width:100%;}
.bbsList04 li dd th{font-size:14px;line-height:26px;color:#9d9d9d;text-align:left;}
.bbsList04 li dd th img{margin-right:8px;line-height:0;vertical-align:middle;}
.bbsList04 li dd td{font-size:14px;line-height:26px;text-align:right;}
