@charset "UTF-8";

ul,ol,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
}

#store-info-top-content{
    width: 100%;
}

/* 이미지 슬라이드, 매장 상세정보 CSS */

#img_slide{
    width: 50%;
}

.carousel-caption{
    color: black;
}

#store-main-content{
    margin-top: 5px;

}

#img-slide-list .store_img{
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.store-main-sub-content{
    display: inline-block;
}
#store-details{
    width: 40%;
    float: right;
}

.store-details-info{
    width: 100%;
    height: 300px;
    border: 1px solid black;
}



.icons-row{
    border-top: 1px solid black;
    min-height: 50px;

}

.store-details-info td{
    text-align: left;
}

#store-details .icons-span{
    width: 60px;
    text-align: center;
    font-size: 20px;
}



/* 매장 이름, 매장 평점 */
#store-score-line{
    border-top: 2px solid red;
    width: 100%;
    font-size: 16px;
}

#star-table{
    margin-top: 10px;
    margin-left: 220px;
    margin-bottom: 10px;
}

#star-table tr{
    margin-top: 5px;
}

.star-score{
    padding-left: 30px;
}

/*리뷰 게시 구역*/
.store-review-wraper{
    position: relative;
}

.paging-wrap{
    width: 100%;
    height: 80px;
    text-align: center;
}

.pagination{
    display: inline-block;
    top: 10px;
    border: 1px solid #ff1f67;
    
}

.pagination > a {
    font-size: 16px;
    text-decoration: none;
    padding: 0 5px 0 5px;
    border-left: 1px solid #ff1f67;
    border-right: 1px solid #ff1f67;
}


.user_review > li > .user_profile_img, .review_writer_info{
    float: left;
}

.user_profile_img {
    width: 20%;
    height: 100%;
}

.user_profile_img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: 0;
    border-left: 2px solid #ff1f67;
    border-top: 2px solid #ff1f67;
    border-bottom: 2px solid #ff1f67;
}

.review-section > .user_review{
   display: inline-block; 
}

.user_review{
    width: 500px;
    height: 100px;
    margin : 15px 40px 15px 40px;
}

.user_review > li{
    height: 100%;
}

.review_writer_info{
    width: 80%;
    height: 100%;
}

.review_writer_info > table {
    background-color: #ccc;
    border: 2px solid #ff1f67;
    height: 100%;
    width: 100%;
}

.review_writer_info td{
    font-size: 12px;
}


#store-main-bottom-content{
    width: 100%;
}

#store-main-bottom-content > div{
    display: inline-block;
}

#store-game-list{
    width: 70%;
}

#store-game-list-head{
    background-color: greenyellow;
}

#store-game-list-head > ul > li{
    display: inline-block;
}

.game-list-breadcrumb{
    float: right;
}

#store-game-list-body{
    background-color: lavender;
    width: 100%;
    min-height: 300px;
    max-height: 600px;
    overflow: scroll;
    overflow-x: hidden;
}

.game-list{
    display: inline-block;
    width: 30%;
    border: 1px solid #f5e312;
    padding: 20px;
    margin: 10px;
}

.game-list > img{
    object-fit: cover;
    width: 100%;
}

.game-list > table{
    text-align: center;
    width: 100%;
}

/* 게임 검색 리스트 CSS */

#store-game-search{
    width: 25%;
    height: 100%;
    float: right;
}

#store-game-search > div{
    display: inline-block;
}

#game-cate-select{
    font-size: 16px;
    width: 100%;
    background-color: #ccc;
    color: black;
    line-height: 50px;
    text-align: center;
}

#game-cate-select > ul > li{
    position: relative;
    float: left;
    width: 140px;
}

#game-cate-select > ul > li > ul div{
    overflow: scroll;
    overflow-x: hidden;
    min-height: 20px;
}

#game-cate-select > ul > li > ul{
    display: none;
    position: absolute;
    width: 140px;
    font-size: 14px;
    background-color: skyblue;
}

#game-cate-select > ul > li:hover > ul{
    display: block;
}

/* 게임 검색 - 게임 이름으로 검색 */

#game-search-ipt-keyword{
    font-size: 12px;
    text-align: center;
}


/* 예매 달력 */
#on-the-board-include{
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

#store-reservation-set-section{
    width: 100%;
}

#store-reservation-set-section .btn-calendar-large{
    width: 50px;
    height: 39px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    border-bottom: 0!important;
    background-color: transparent!important;
}

#store-reservation-set-section .date-list{
    height: 39px;
    width: 980px;
    overflow: hidden;
    float: left;
}

#store-reservation-set-section .year{
    position: absolute;
    top: 0;
    font-size: .8667em;
    width: 70px;
    height: 20px;
    line-height: 18px;
    margin-top: -10px;
    border: 1px solid #d8d9db;
    border-radius: 15px;
    text-align: center;
    background-color: #fff;
    font-weight: 300;
}

#store-reservation-set-section .wrap{
    height: 40px;
    border-top: 1px solid #555;
    border-left: 1px solid #d8d9db;
    border-right: 1px solid #d8d9db;
    position: relative;
}

#store-reservation-set-section > .wrap div{
    display: block;
}

#store-reservation-set-section .date-area{
    height: 39px;
    float: left;
}

#store-reservation-set-section .date-area button.on{
    background-color: #f7f8f9;
    border-bottom: 2px solid #503396;
}

#store-reservation-set-section .date-area button{
    width: 70px;
    height: 39px;
    font-size: .8667em;
    border: 0;
    background-color: transparent;
    float: left;
    border-bottom: 2px solid transparent;
    font-weight: 400;
}

#store-reservation-set-section .date-area button span{
    vertical-align: bottom;
    line-height: 1.1;
}

#store-reservation-set-section .date-area button em{
    position: relative;
    display: inline-block;
    line-height: 1.1;
    padding: 0 9px 0 0;
    vertical-align: middle;
}

#store-reservation-set-section .date-area button em:after{
    content: '';
    position: absolute;
    right: 3px;
    top: 6px;
    display: block;
    width: 3px;
    height: 3px;
    background-color: #888;
}

.ir {
    text-indent: -9999px;
    position: fixed;
    top: -9999px;
    font-size: 1px;
    width: 1px;
    height: 1px;
    opacity: 0;
}

button, select {
    text-transform: none;
}

button, input {
    overflow: visible;
}

#store-reservation-set-section .bg-line{
    margin-left: 8px;
    float: left;
    position: relative;
}

#store-reservation-set-section .btn-calendar-large{
    width: 50px;
    height: 39px;
    border: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -999px;
    border-bottom: 0!important;
    background-color: transparent!important;
}

.btn-calendar-large {
    background: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-calendar-w20.png) no-repeat center;
}

.btn-pre{
    width: 30px;
    height: 39px;
    border: 0!important;
    background-color: transparent!important;
    float: left;
}
.btn-next{
    width: 30px;
    height: 39px;
    border: 0!important;
    background-color: transparent!important;
    float: left;
}

/* 예약 인원 수 선택 영역 */

.people-choice-area{
    position: relative;
    width: 20%;
}

.people-choice-area > .people-select-btn{
    display: inline-block;
}

/* .select-by-no > button{
    position: absolute;
    top: 0;
    left: 0;
}

.select-by-group > button{
    position: absolute;
    top: 0;
    right: 0;
} */

/* 예약 인원 선택 */
.tab-content{
    border: 1px solid #ddd;
    height: 100px;
    width: 25%;
}

#choice_by_count table{
    height: 100%;
    width: 100%;
}

