@charset "utf-8";
/* 레이아웃 틀 */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
#logo {
    width: 400px;
    height: 200px;
    cursor: pointer;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}



/* 입력폼 */
.setting{ background: #fff;margin:0 auto 3px; padding: 12px;}
.setting h2{font-size:14px; font-weight: 400; margin: 0 0 6px; line-height: 24px;}
.setting a{ cursor: pointer; color: #555; font-size:14px; line-height: 24px; transition: color 0.2s;}
.setting i{width: 1.24em; text-align:center;}
.setting a:hover{color: #ff1f67;}
.setting a:disabled{opacity: 0.35; cursor: default;}

h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}

.themebox {
    display: block;
    width: 100%;
    height: 70px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
}
.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

.select_img {display:block; margin:20px 0;text-align:center;}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}


#sel-wrap {
    display: table;
    width: 100%;
}

#select {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#select_txt {
    display: table-cell;
    width: 147px;
}

#select, #select_txt {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
}

#btnReg {
    width: 100%;
    margin-top: 30px;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #ff1f67;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

