@charset "UTF-8";

/** COMMON **/
/* div {
    border: 1px solid #000000;
    margin-bottom: 10px;
} */
#content {
	margin-bottom: 30px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.border-left {
	border-left: 1px solid #e3e3e3;
}

.border-right {
	border-right: 1px solid #e3e3e3;
}

.border-none {
	border: none;
}

textarea {
	resize: none;
}

.cursor-pointer {
	cursor: pointer;
}

/** LOCATION LIST **/
#table-start {
	text-align: center;
}

#table-start thead th {
	text-align: center;
	font-size: 17px;
	padding: 5px 0px;
}

#table-start tr {
	border-bottom: 1px solid #e2e2e2;
}

#table-start td {
	padding: 5px 0px;
}

#table-start>caption {
	background-color: #f00;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	color: black;
}

#table-start>caption>span {
	color: #fff;
}

/** SELECT OPTION **/
/* #select-option ul .active {
    background-color: #E0FFFF;
} */
#select-name {
	margin: 5px 0px -10px 0px;
	/* height: 35px;
    width: 300px; */
	padding: 7px 0px 0px 5px;
	font-size: 16px;
	font-weight: bold;
	/* border: 1px solid #000;
    border-radius: 5px;a */
}

#table-option td, th {
	padding: 6.5px 0px;
}

#table-option th {
	background-color: #E0FFFF;
	text-align: center;
	font-size: 17px;
}

#table-option .last-tr {
	background-color: #f5f5f5;
	font-size: 12px;
}

#table-option .last-tr .last-td1 {
	text-align: center;
}

#table-option label {
	font-size: 13px;
	margin-left: 3px;
}

#select-option-list #option-reset {
	border-right: 1px solid #e2e2e2;
}

#select-option-list div {
	padding: 3px;
}

#select-option-list button {
	overflow: hidden;
	background-color: transparent;
	border: none;
	font-size: 12px;
}

#select-option-list img {
	width: 10px;
	height: 10px;
	/* margin-top: -4px; */
}

#select-option-checkbox {
	margin-top: 10px;
}

#select-option-checkbox input {
	margin: 8px 0px 0px 15px;
}

#select-option-checkbox td, #select-option-checkbox th {
	border: 1px solid #e2e2e2;
}

#select-option-checkbox>thead>tr>th {
	text-align: center;
	font-size: 16px;
	padding: 8px;
	letter-spacing: 10px;
}

/* #option-reset .btn-reset::after {
    width: 11px;
    height: 10px;
    background-image: url(../images/btn-reset.png);
} */

/** MATCHING LIST **/
#table-matchingList .first-tr {
	background-color: #ff1f67;
	color: #fff;
}

#table-matchingList tr {
	border-bottom: 1px solid #e2e2e2;
}

#table-matchingList th {
	font-size: 17px;
}

#table-matchingList th, #table-matchingList td {
	padding: 8px 0px;
	text-align: center;
}

#paging-wrap {
	margin-top: 15px;
}

#paging {
	display: inline-block;
}

#paging li {
	list-style-type: none;
	float: left;
	padding: 5px 11px;
	margin: 0px 6px;
	background-color: #E0FFFF;
	border-radius: 15px;
}

/** WRITE FORM **/
#write-btn button {
	/* font-size: 17px; */
	margin: 0px 25px;
	/* padding: 7px 26px; */
}

#datepick {
	height: 18px;
	width: 110px;
	letter-spacing: 2px;
	text-align: center;
}

/** READ **/
#content-title {
	font-size: 22px;
}

#content-title .c-t-float-l {
	float: left;
	font-size: 15px;
	color: gray;
}

#content-title .c-t-float-r {
	float: right;
}

#content-title .c-t-float-r>a {
	font-size: 17px;
	color: lightgray;
}

#game-img-info a {
	font-size: 22px;
	font-weight: bold;
}

#table-game-info {
	font-size: 15px;
}

#table-game-info tr {
	border-bottom: 1px solid #e2e2e2;
}

#table-game-info th {
	text-align: center;
}

#table-game-info th, #table-game-info td {
	padding: 6px 14px;
	/* padding-left: 5px; */
}

#table-game-info .border-none {
	border: none;
}

#content-content {
	font-size: 18px;
}

#read-btn {
	margin-top: 20px;
}

#read-btn button {
	margin: 0px 3px;
}

#content-comment .content-comment-1 {
	border: 1px solid lightgray;
	border-radius: 10px;
	background-color: #f3f1f1;
	padding: 5px;
}

#content-comment .content-comment-img, #content-comment-answer .content-comment-img
	{
	margin: 0px;
	padding: 0px 5px 0px 0px;
	text-align: right;
	cursor: pointer;
}

#content-comment .content-comment-2, #content-comment-answer .content-comment-2
	{
	font-size: 12px;
	color: gray;
}

#content-comment .comment, #content-comment-answer .comment {
	float: left;
}

#content-comment .comment-button, #content-comment-answer .comment-button
	{
	float: right;
}

#content-comment .comment-button button, #content-comment-answer .comment-button button
	{
	font-size: 10px;
	color: gray;
	margin-right: 5px;
}

#content-comment-answer {
	margin-top: 5px;
}

#content-comment-answer .comment span {
	color: red;
	font-size: 5px;
}

#content-comment-answer .content-comment-1 {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5px;
}

#content-comment-write {
	border: 1px solid #5a5a5a;
	padding: 5px;
	border-radius: 10px;
}

#content-comment-write .content-comment-write-1 {
	margin-bottom: 3px;
}

#content-comment-write .content-comment-write-2 {
	margin-right: 5px;
	text-align: right;
	color: gray;
}

#content-comment-write-text {
	width: 100%;
	height: 80px;
	border: none;
}

.nav-justified .active>a {
	/* color: #fff; */
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 7px;
	/* background-color: #ff1f67; */
}