@charset "UTF-8";

/** COMMON **/
/* div {
	border: 1px solid #000000;
	margin-bottom: 10px;
} */
#content {
	margin-bottom: 30px;
}

#content .sub-container {
	padding: 0px;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

.border-left {
	border-left: 1px solid #e3e3e3;
}

.border-right {
	border-right: 1px solid #e3e3e3;
}

.border-none {
	border: none;
}

textarea {
	resize: none;
}

.cursor-pointer {
	cursor: pointer;
}

/** SELECT OPTION **/
#select-option {
	margin: 0px;
	padding: 0px;
}

#table-option td, th {
	padding: 6.5px 0px;
}

#table-option th {
	background-color: #E0FFFF;
	text-align: center;
	font-size: 17px;
}

#table-option .last-tr {
	background-color: #f5f5f5;
	font-size: 12px;
}

#table-option .last-tr .last-td1 {
	text-align: center;
}

#table-option label {
	font-size: 13px;
	margin-left: 3px;
}

#select-option-list {
	margin: 0px;
	padding: 0px;
}

#select-option-list #option-reset {
	border-right: 1px solid #e2e2e2;
}

#select-option-list div {
	padding: 3px;
}

#select-option-list button {
	overflow: hidden;
	background-color: transparent;
	border: none;
	font-size: 12px;
}

#select-option-list img {
	width: 10px;
	height: 10px;
}

#select-option-checkbox {
	margin-top: 10px;
	text-align: center;
}

#select-option-checkbox input {
	margin: 8px 0px 0px 30px;
}

#select-option-checkbox label {
	font-size: 16px;
}

#select-option-checkbox tr {
	border-bottom: 1px solid #e2e2e2;
}

#select-option-checkbox>thead>tr>th {
	text-align: center;
	font-size: 19px;
	padding: 8px;
	letter-spacing: 10px;
}

#select-option-checkbox .margin-left-none {
	margin-left: 0px;
}

#y-select-opt .btn-selectDel {
	margin-left: 12px;
}

/** MATCHING LIST **/
#content .container.padding-none {
	padding: 0px;
}

#table-matchingList .first-tr th {
	background-color: #ff1f67;
	color: #fff;
}

#table-matchingList tr {
	border-bottom: 1px solid #e2e2e2;
}

#table-matchingList th {
	font-size: 17px;
}

#table-matchingList th, #table-matchingList td {
	padding: 8px 0px;
	text-align: center;
}

#table-matchingList #readMatching {
	cursor: pointer;
}

#paging-wrap {
	margin-top: 15px;
}

#paging-wrap #paging {
	display: inline-block;
}

#paging-wrap #paging li {
	list-style-type: none;
	float: left;
	padding: 2px 8px;
	margin: 0px 6px;
	border: 3px solid #ff1f67;
	border-radius: 18px;
	font-weight: bold;
}

#paging-wrap #paging li.li-pd {
	padding: 2px 9.5px;
}

/** WRITE FORM **/
#write-btn button {
	margin: 0px 25px;
}

#write-form #title {
	border-radius: 5px;
	height: 25px;
	width: 400px;
}

#ipt-keyword {
	background-image: url(../../images/matching/img-search.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 25px;
	width: 180px;
	padding: 0px 35px 0px 32px;
	border-radius: 5px;
}

#write-form select {
	border: 1px solid #000;
	border-radius: 5px;
}

#write-form .date-time {
	height: 22px;
	border-radius: 5px;
	padding: 10.5px 5px;
}

/* #write-form #datepick {
	height: 18px;
	width: 120px;
	font-size: 12px;
	border-radius: 5px;
}

#write-form #time {
	height: 18px;
	width: 110px;
	letter-spacing: 2px;
	text-align: center;
	border: none;
	font-size: 12px;
} */

#write-form #content {
	border-radius: 5px;
}

/** READ **/
#content-title {
	font-size: 22px;
}

#content-title .c-t-float-l {
	float: left;
	font-size: 15px;
	color: gray;
}

#content-title .c-t-float-r {
	float: right;
}

#content-title .c-t-float-r>a {
	font-size: 16px;
	color: #666;
}

#game-img-info a {
	font-size: 22px;
	font-weight: bold;
}

#table-game-info {
	font-size: 15px;
}

#table-game-info th {
	text-align: center;
}

#table-game-info th {
	padding: 5px 30px 5px 0px;
}

#table-game-info td {
	padding-left: 10px;
}

#table-game-info .border-none {
	border: none;
}

#table-game-info #img-crown {
	width: 10%;
}

#content-content {
	font-size: 18px;
}

#read-btn {
	margin-top: 20px;
}

#read-btn button {
	margin: 0px 3px;
}

#comment div {
	margin: 0px;
}

#comment .comment-all {
	margin-bottom: 7px;
}

#comment .comment-1 {
	border: 1px solid lightgray;
	border-radius: 5px;
	background-color: #f3f1f1;
	padding: 5px;
}

#comment .comment-img, #comment-answer .comment-img
	{
	margin: 0px;
	padding: 0px 5px 0px 0px;
	text-align: right;
	cursor: pointer;
}

#comment .comment-2, #comment-answer .comment-2
	{
	font-size: 12px;
	color: gray;
}

#comment .comment, #comment-answer .comment {
	float: left;
}

#comment .comment-button, #comment-answer .comment-button
	{
	float: right;
}

#comment .comment-button button, #comment-answer .comment-button button
	{
	font-size: 10px;
	color: gray;
	margin-right: 5px;
}

#comment .text-sm-red {
	color: #ff0000;
	font-weight: bold;
	font-size: 10px;
}

#comment-answer {
	margin-top: 5px;
}

#comment-answer .comment span {
	color: ff1f67;
	font-size: 5px;
}

#comment-answer .comment-1 {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 5px;
}

#comment-write {
	border: 1px solid #5a5a5a;
	padding: 5px;
	border-radius: 10px;
}

#comment-write .comment-write-1 {
	margin-bottom: 3px;
}

#comment-write .comment-write-2 {
	margin-right: 5px;
	text-align: right;
	color: gray;
}

#comment-write-text {
	width: 100%;
	height: 80px;
	border: none;
}

#comment div.reply-box-empty {
	margin: 0px 0px 5px 150px;
	padding: 5px;
	border: 1px solid #5a5a5a;
	border-radius: 10px;
}

#comment .reply-box-empty .comment-reply-text {
	width: 100%;
	height: 80px;
	border: none;
}

#comment .reply-box-empty .reply-box-btn {
	text-align: right;
}

.nav-justified .active>a {
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 7px;
}