@charset "UTF-8";

/* 헤더 */
div#header {
	min-width: 1450px;
	height: 50px;
}

div#header-store-name {
	margin: 8.2px 0;
}

div#user-controller {
	margin: 15px 0;
}

div#user-controller > a {
	margin: 0 10px;
}
/* 헤더 */

/* 컨텐츠 */
div#content.container {
	width: 1200px;
	min-width: 1200px;
	margin: 0;
	padding: 0;
}

/* 어사이드 */

/* 사이드 - 게임 리스트 */
div#rank-area {
	z-index: 100;
	padding: 5px 8px;
	background-color: white; 
	border-radius: 4px;
	position: fixed;
	width: 160px;
	left:14px;
	top: 50%;
}

div#rank-title > h2 {
	margin: 0;
	font-weight: bold;
}

#rank-list {
	margin: 10px auto;
}

#rank-list>li {
	width: 100%;
}

.rank-num {
	color: red;
	font-weight: bold;
	width: 9%;
	margin-right: 5px;
}

.rank-subject {
	display: inline-block;
	width: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
    white-space: nowrap;
}

/* 사이드 - 게임 리스트 */

/* 어사이드 */

/* 메인 */
div#main-title {
	border-bottom: 1px solid rgb(224, 224, 224);
}

div#main-title > h1 {
	font-size: 2.4rem;
}

/* 메인 */

/* 컨텐츠 영역 */
div.content-area {
	margin: 0px 20px 40px 20px;
}

/* 서브 타이틀 */
div.sub-title {
	margin-bottom: 10px;
}

div.sub-title>h2 {
	font-size: 1.6rem;
	font-weight: 500;
	margin-right: 5px;
	display: inline-block;
}
/* 컨텐츠 영역 */

/* 검색창 */
div#search-bar {
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 15px;
}

div#search-bar > div {
	margin: 10px;
}

/* 검색어 입력 영역 */
div#search-area div{
	display: inline-block;
}

div#search-area select, div#search-area input {
	height: 30px;
	margin-right: 5px;
}

div#keyword-area input {
	width: 300px;
}

div#keyword-area button {
	vertical-align: top;
}

/* //검색창 */

/* 페이징 버튼 */
div#paging{
	width: 300px;
	margin: 0 auto;
}

div#paging > ul{
	padding: 0 65px;
}

/* 페이징 버튼 */

/* 버튼 영역 */
div.btn-area {
	padding: 20px 0;
	text-align: center;
}

/* 폰트 세팅 */
.text-white {
	color: white;
}

.font-size-24 {
	font-size: 2.4rem;
}

.font-size-16 {
	font-size: 1.6rem;
}

.font-size-14 {
	font-size: 1.4rem;
}

.font-size-12 {
	font-size: 1.2rem;
}

/* 폰트 세팅 */

/* 더 보기 */
.list-more {
	text-decoration: underline;
}

/* 더 보기 */

/* 라디오 라벨 */
label {
	margin: 0;
}

/* 보더 */
.border-default {
	border: 1px solid rgb(224, 224, 224);
}

/* 보더 */

/* input type checkbox */
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
