@charset "UTF-8";

/* 검색창 */
div#search-bar {
	padding: 10px 20px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 15px;
}

/* 검색어 입력 영역 */
div#search-area div {
	display: inline-block;
}

/* 검색창 */
div#keyword-area input {
	width: 300px;
}

/* 게임 테이블 */
table#game-list {
	border-top: 2px solid rgb(224, 224, 224);
	border-bottom: 2px solid rgb(224, 224, 224);
	width: 100%;
}

table#game-list tbody tr {
	height: 150px;
}

table#game-list thead tr {
	height: 35px;
}

table#game-list td, table#game-list th {
	text-align: center;
}

/* 게임 테이블 */

/* 게임 이미지 */
td.img-area {
	padding: 5px;
}

img.game-img {
	width: 140px;
	height: 140px;
}

/* 게임 이미지 */
