@charset "UTF-8";

/* 게임 테이블 */
table#game-list {
	border-top: 2px solid rgb(224, 224, 224);
	border-bottom: 2px solid rgb(224, 224, 224);
	width: 100%;
}

table#game-list th {
	width: 16%;	
	height: 35px;
	text-align: center;
	font-weight: 600;
}

table#game-list tbody tr {
	text-align: center;
	height: 150px;
}

table#game-list th:first-child {
	width: 6%;
} 

table#game-list th:nth-child(2) {
	width: 46%;
} 



/* 게임 테이블 */

/* 게임 이미지 */
td.img-area {
	padding: 5px;
}

img.game-img {
	width: 140px;
	height: 140px;
	object-fit: cover;
}

/* 게임 이미지 */
