@charset "UTF-8";

/* 헤더 */
div.wrap {
	width: 100%;
	background-color: black;
	min-height: 50px;
}

/* 서브 타이틀*/

.sub-container {

  position: relative;
  z-index: 20;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;

}

.subtitle {

  padding-bottom: 43px;
  margin-top: 30px;

}
.subtitle h3 {

  font-size: 20px;
  line-height: 22px;
  position: relative;
  color: #333;
 
}

.subtitle .context {

  line-height: 19px;
  padding-top: 10px;
  letter-spacing: -1px;
  color: #666;
  border-bottom: 1px solid #ff1f67;
  padding-bottom:20px;
  
}

/* 컨테이너 */
div.container {
	width: 1200px;
	margin: 0 auto;
	min-height: 50px;
}

/* 배경 테스트용 색상 */
.back-green {
	background-color: green;
}

/* 폰트 사이즈 */
/* 내비 등 큰 사이즈 */
.font-size-24 {
	font-size: 24px;
}

/* 크럼블 등 중간 크기 */
.font-size-16 {
	font-size: 16px;
}

/* 일반 컨텐츠용 */
.font-size-14 {
	font-size: 14px;
}

/* 작은 사이즈 */
.font-size-12 {
	font-size: 12px;
}

/*FOOTER*/
/*푸터 메뉴위치*/
#footer .menu{
	padding-top:23px;
}
/*푸터 메뉴 리스트 가로배치*/
#footer .menu li{
	float:none;
	display:inline-block;
	margin-right:15px;
}
/*푸터 메뉴 리스트 색깔및 줄크기*/
#footer .menu li a{
	line-height:20px;
	color:#fff;
}
/*푸터 주소란 위치 및 색상*/
#footer .addr{
	margin-top:21px;
	line-height:15px;
	color:#fff;
}
/*푸터 주소란 여백설정*/
#footer .addr li{
	float:none;
	padding-left:13px;
	margin-right:10px;
	display:inline-block;
	background-position:0 1px;}
/*푸터 주소 항목간 위치조정*/	
#footer .addr li:first-child, #footer .addr li.phone,#footer .addr li.addr01{
	clear:both;
	padding-left:0;
	background:none;
}
/*푸터 카피라이트*/
#footer .copy{
	line-height:20px;
	text-align:center;
	color:#fff;
}
