@charset "UTF-8";

/* 헤더 */
div.wrap {
	width: 100%;
	background-color: black;
	min-height: 50px;
}

/* 컨테이너 */
div.container {
	width: 1200px;
	margin: 0 auto;
	min-height: 50px;
}

/* 배경 테스트용 색상 */
.back-green {
	background-color: green;
}

/* 폰트 사이즈 */
/* 내비 등 큰 사이즈 */
.font-size-24 {
	font-size: 2.4rem;
}

/* 크럼블 등 중간 크기 */
.font-size-16 {
	font-size: 1.6rem;
}

/* 일반 컨텐츠용 */
.font-size-14 {
	font-size: 1.4rem;
}

/* 작은 사이즈 */
.font-size-12 {
	font-size: 1.2rem;
}

/*FOOTER*/
#footer{position:relative;width:100%;min-width:350px;max-width:1200px;margin:0 auto;padding-left:0px;}
#footer h1{display:none;position:absolute;left:0;top:52px;}
#footer .menu{overflow:hidden;padding-top:23px;text-align:center;}
#footer .menu li{float:none;display:inline-block;margin-right:15px;}
#footer .menu li a{font-size:14px;line-height:20px;color:#fff;}
#footer .menu li:nth-child(4){margin-right:0;}
#footer .addr{margin-top:21px;overflow:hidden;font-size:14px;line-height:15px;text-align:center;color:#fff;}
#footer .addr li{float:none;padding-left:13px;margin-right:10px;display:inline-block;background-position:0 1px;}
#footer .addr li:first-child, #footer .addr li.phone,#footer .addr li.addr01{clear:both;padding-left:0;background:none;}
#footer .copy{font-size:14px;line-height:20px;text-align:center;color:#fff;}
