@charset "UTF-8";

/* common */
@charset "UTF-8";

body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input,
	legend, li, ol, p, select, table, td, textarea, th, ul {
	margin: 0;
	padding: 0;
}

body, button, select, table, fieldset, img {
	border: 0
}

ol, ul {
	list-style: none
}

address, em {
	font-style: normal
}

a {
	text-decoration: none
}

a[href]:active, a[href]:focus, a[href]:hover {
	text-decoration: none
}

/* 버튼3 */
button.btn-red {
	background-color: #ff1f67;
	border: none;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 6.5px;
}

button.btn-white {
	background-color: white;
	border: 1px solid #000;
	font-size: 12px;
	color: #000;
	border-radius: 5px;
	padding: 5.5px;
}

button.btn-blue {
	background-color: #1E90FF;
	border: none;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 6.5px;
}

/* 헤더 */
#header-container {
	width: 100%;
	margin: 0 auto;
}

body {
	z-index: 2;
}

header {
	width: 100%;
	height: 91px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	background: #fff;
	border-bottom: 3px solid #ff1f67;
}

header a {
	text-decoration: none;
	outline: none;
}

header>nav {
	width: 800px;
	height: 100%;
}

header ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	list-style: none;
}

header ul>li {
	font-size: 20px;
	height: 100%;
	display: flex;
	align-items: center;
}

#logo {
	width: 180px;
	height: auto;
	margin-bottom: 20px;
}

/*소메뉴*/
.small-menu {
	width: 1200px;
	font-size: 10px;
	padding: 10px;
}

#admin-menu {
	display: inline-block;
	position: absolute;
	top: 30px;
	left: 220px;
	justify-content: center;
}

#user-menu {
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 150px;
	justify-content: space-between;
}

/*icon*/
.icon {
	width: 25px;
	height: auto;
	margin-left: 10px;
}

/* 서브 타이틀*/
.sub-container {
	position: relative;
	z-index: 20;
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
}

.sub-container>.subtitle {
	margin-bottom: 40px;
	margin-top: 30px;
	border-bottom: 1px solid #ff1f67;
}
/* 
.sub-container>.subtitle h3 {
	font-size: 20px;
	line-height: 22px;
	position: relative;
	color: #333;
}
 */
.sub-container>.subtitle .context1 {
	float: left;
}

.sub-container>.subtitle .context2 {
	line-height: 19px;
	letter-spacing: -1px;
	color: #666;
	padding-bottom: 15px;
	float: right;
	margin-top: 30px;
}

.sub-container>.subtitle .context2 li {
	float: left;
}

.sub-container>.subtitle .context2 li:after {
	content: ">";
	padding: 10px;
}

.sub-container>.subtitle .context2 .last-li:after {
	content: "";
	margin-right: -19px;
}

/* aside */
#aside-area {
	padding: 5px 8px;
	background-color: white;
	border-radius: 4px;
	position: fixed;
	width: 200px;
	height: 320px;
	left: 14.5px;
	top: 50%;
}

#aside-title>h2 {
	margin-top: 23px;
	font-weight: bold;
}

/*드롭다운*/
.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 330px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	float: right;
	z-index: 1;
	margin: 0;
	padding: 0;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content ul li {
	float: left;
}

/* 컨테이너 */
div.container {
	width: 1200px;
	margin: 0 auto;
	min-height: 50px;
	padding-right: 0px;
	padding-left: 0px;
}

/* 배경 테스트용 색상 */
.back-green {
	background-color: green;
}

/* 폰트 사이즈 */
/* 내비 등 큰 사이즈 */
.font-size-24 {
	font-size: 24px;
}

/* 크럼블 등 중간 크기 */
.font-size-16 {
	font-size: 16px;
}

/* 일반 컨텐츠용 */
.font-size-14 {
	font-size: 14px;
}

/* 작은 사이즈 */
.font-size-12 {
	font-size: 12px;
}

/*FOOTER*/
#footerwrap {
	margin-top: 100px;
	padding-bottom: 22px;
	background: #ff1f67;
}

/*푸터 메뉴위치*/
#footer .menu {
	font-size: 14px;
	padding-top: 23px;
	text-align: center;
}
/*푸터 메뉴 리스트 가로배치*/
#footer .menu li {
	float: none;
	display: inline-block;
	margin-right: 15px;
}
/*푸터 메뉴 리스트 색깔및 줄크기*/
#footer .menu li a {
	line-height: 20px;
	color: #fff;
}
/*푸터 주소란 위치 및 색상*/
#footer .addr {
	text-align: center;
}

#footer .addr li {
	font-size: 14px;
	margin-top: 21px;
	line-height: 15px;
	color: #fff;
}
/*푸터 주소란 여백, 색상설정*/
#footer .addr li {
	float: none;
	padding-left: 13px;
	margin-right: 10px;
	display: inline-block;
	background-position: 0 1px;
}
/*푸터 주소 항목간 위치조정*/
#footer .addr li:first-child, #footer .addr li.phone, #footer .addr li.addr01
	{
	clear: both;
	padding-left: 0;
	background: none;
}
/*푸터 카피라이트*/
#footer .copy {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}