/****************common****************/

* {
	margin:0;
	padding:0;
	color:#000;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

/****************header****************/


/***주메뉴***/

.header-container {
	width:100%;
	margin:0 auto;
}

header {
	width:100%;
	height:91px;
	display: flex;
	align-items: center;
	justify-content: center;
  margin-top: 15px;
  background: #fff;
  border-bottom: 3px solid #ff1f67;
}

header > nav {
	width:800px;
	height:100%;
}

header ul {
	width:100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}

header ul > li {
	font-size:20px;
	height: 100%;
	display: flex;
	align-items: center;
}

#logo {

  width: 180px;
  height: auto;
  margin-bottom: 20px;

}



/***소메뉴***/

.small-menu {

  position: absolute;
  top: 15px;
  left: 0;
  font-size: .8667em;

}

#admin-menu {

  position: absolute;
  top: 15px;
  left: 0;
  font-size: .8667em;

}

#user-menu {

  position: absolute;
  top: 15px;
  right: 0;

}