@charset "UTF-8";

#tap-content-wrap {
	margin: 0px;
	padding: 0px;
}

#tap-content-wrap li {
	list-style-type: none;
	margin: 3px 0px;
}

#tap-content-wrap ul#location-big a {
	padding: 10px;
}

#tap-content-wrap ul#game-style a {
	padding: 10px;
}

#tap-content-wrap ul li a:hover {
	cursor: pointer;
	background-color: #ff1f67;
	color: #fff;
}

#tap-content-wrap ul li a:link {
	text-decoration: none;
	color: #000;
}

#tap-content-wrap ul li a:visited {
	text-decoration: none;
	color: #000;
}

#content #select-option #ipt-keyword {
	margin: 10px 0px -10px 0px;
	background-image: url(../images/matching/img-search.png);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: left center;
	height: 35px;
	width: 250px;
	padding: 0px 35px 0px 32px;
	border-radius: 5px;
	border-color: #ff1f67;
}

#tap-content-wrap .overflow-scroll {
	height: 200px;
	overflow: auto;
	margin: 0px 15px 0px -15px;
}

#tap-content-wrap .overflow-scroll::-webkit-scrollbar {
	width: 10px;
}

#tap-content-wrap .overflow-scroll::-webkit-scrollbar-button {
	display: none;
}

#tap-content-wrap .overflow-scroll::-webkit-scrollbar-track {
	background-color: #fff;
}

#tap-content-wrap .overflow-scroll::-webkit-scrollbar-thumb {
	background: #ff1f67;
}

#location-big {
	margin: 0px;
	padding: 0px;
}

#location-big li {
	float: left;
	/* margin: 3px; */
	padding: 3px;
	width: 50%;
	text-align: left;
	font-size: 16px;
}

#location-medium {
	margin: 0px;
	padding: 0px;
}

#location-medium li {
	float: left;
	/* margin: 3px; */
	padding: 3px;
	width: 33.3%;
	text-align: left;
	font-size: 13px;
}

#game-style {
	margin: 0px;
	padding: 0px;
}

#game-style li {
	float: left;
	/* margin: 3px; */
	padding: 3px;
	width: 50%;
	text-align: left;
	font-size: 16px;
}

#game-name {
	margin: 0px;
	padding: 0px;
}

#game-name li {
	float: left;
	/* margin: 3px; */
	padding: 3px;
	width: 33.3%;
	text-align: left;
	font-size: 13px;
}