#main-container {
	position: relative;
	max-width: 1200px;
	height: 100%;
	margin: auto;
	background: #f5f6f7;
	text-align: center;
}

.btn-wrap {
	text-align: center;
	margin: auto;
}

.contract {
	font-size: 16px;
	font-weight: bold;
}

body {
	margin: 0;
	height: 100%;
	background: #f5f6f7;
}