body{margin-top:20px;}	

.btn-area {
	position: absolute;
	right: 92px;
}

.btn-area > .btn-red {
	background-color: #ff1f67;
	border: none;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 6.5px;
}

.btn-gray {
	background-color: darkgray;
	border: none;
	font-size: 12px;
	color: #fff;
	border-radius: 5px;
	padding: 6.5px;
}