.table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}


.table thead{
	color: #fff;
	background-color: #ff1f67;
	
}

.text-center {
	text-align: center;
}

body #content {
	
	padding: 0px;

	}

#paging-wrap {
	margin-top: 55px;
}

#paging-wrap #paging {
	display: inline-block;
}

#paging-wrap #paging li {
	list-style-type: none;
	float: left;
	padding: 5px 11px;
	margin: 0px 6px;
	background-color: #ff1f67;
	border-radius: 15px;
	color: #fff;
	font-weight: bold;

}
